{{- with resources.Get "js/main.js" }}
{{- $opts := dict "minify" true }}
{{- with . | js.Build $opts | fingerprint }}
<script src="{{ .RelPermalink }}" integrity="{{- .Data.Integrity }}"
    crossorigin="anonymous"></script>
{{- end }}
{{- end }}

<!-- Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-R6VE55D8WD"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-R6VE55D8WD');
</script>