{{ define "main" }}

{{ .Content }}

{{ if .Site.Params.homePicture }}
{{ with .Site.Params.homePicture }}
<img src="{{ . }}" alt="Profile picture" style="
    width: 100%;
">
</img>
<!-- <img src="{{ . }}" alt="Profile picture" style="
    width:150px;
    height:150px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
    -webkit-filter: grayscale(30%);
    filter: grayscale(30%);
">
</img> -->
{{ end }}
{{ end }}

</br>

{{/* Intro summary section */}}

{{ if or .Site.Params.homeIntroTitle .Site.Params.homeIntroContent }}
<div class="intro">
    {{ with .Site.Params.homeIntroTitle }}
    <strong>{{ . }}</strong>
    {{ end }}

    {{ with .Site.Params.homeIntroContent }}
    <p>{{ . | markdownify }}</p>
    {{ end }}
</div>
{{ end }}

{{/* Social Icons */}}

{{ with site.Params.social }}
<div class="social-icons">
    {{- range . }}
    <a href="{{ trim .url " " | safeURL }}" target="_blank"
        rel="noopener noreferrer me"
        title="{{ (.title | default .name) | title }}">
        {{ partial "svg.html" . }}
    </a>
    {{- end }}
</div>
{{ end }}

{{/* Keywords / Areas of Expertise */}}
<div class="expertise-section">
    <div class="keywords-box">
        <div class="keywords-title">Skills & Interests</div>
        <div class="keywords-container">
            <span class="keyword">AI / Machine Learning</span>
            <span class="keyword">Digital Twins</span>
            <span class="keyword">Industrial IoT</span>
            <span class="keyword">Robotics</span>
            <span class="keyword">Computer Vision</span>
            <span class="keyword">Full Stack Development</span>
            <a href="./3d-printing"><span class="keyword">3D Printing &nbsp; <img src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' width='24' height='24'%3E%3Cpath fill='%2382ccdd' d='M10 6v2H5v11h11v-5h2v6a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1V7a1 1 0 0 1 1-1h6zm11-3v8h-2V6.413l-7.793 7.794-1.414-1.414L17.585 5H13V3h8z'/%3E%3C/svg%3E" alt="Ekstern lenke" class="external-icon"></span></a>
        </div>
    </div>
</div>

<div>
    <!-- <h3>About my work</h3>
    
    <p>
        {{with .Site.Params.currentPosition}}
        <p style="font-style: italic;">{{.}}</p>
        {{end}}
        At Twilligent, I work on developing digital twins for industrial companies, merging 3D representations with real-time sensor data.
        Furthermore, on my PhD project I focus on software technologies to enable human-robot teaming (HRT), where we aim to make humans and robots work together as teammates, thus sharing workspace and exchanging solutions.
    </p>

    {{ if .Site.Params.aboutMeVideo }}
    {{ with .Site.Params.aboutMeVideo }}
            <div style="text-align: left; width: 100%;">
                <p><strong>Video presenting some of the work</strong></p>
                <iframe style="border-radius: 10px; width: 500px; max-width: 95%; aspect-ratio: 16/9;" src="{{.}}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
    {{ end }}
    {{ end }} -->

    <!-- {{ if .Site.Params.aboutMeAudio }}
        {{ with .Site.Params.aboutMeAudio }}
        <div style="text-align: center;">
            <p><strong>✨ AI podcast about my PhD project</strong></p>
            <audio controls>
                <source src="{{ . }}" type="audio/ogg">
            </audio>
        </div>
    {{ end }}
    {{ end }} -->

    </div>

{{/* Collection Section */}}

{{ if .Site.Params.homeCollection }}


<div class="list-container">
    {{ with .Site.Params.homeCollectionTitle}}
    <h1> {{ . }} </h1>
    {{ end }}

    {{ $pages := where .Site.RegularPages "Section" .Site.Params.homeCollection
    }}

    {{ $paginationSize := 1}}
    {{ if (gt .Site.Params.paginationSize 0) }}
    {{ $paginationSize = .Site.Params.paginationSize }}
    {{ end }}

    {{ $paginator := .Paginate $pages $paginationSize }}

    {{ range $index, $page := $paginator.Pages }}
    {{ partial "post-entry.html" $page}}
    {{ end }}

    {{ partial "pagination-controls.html" $paginator}}

</div>
{{ end }}

{{ end }}